<h2>
    <center>Financial Summary</center>
</h2>

<div class="row">
    <table class="table borderless">
        <thead>
        <tr class="bg-light-sliver">
            <th>Product</th>
            <th>Federal</th>
            <th>State</th>
            <th>Utility</th>
            <th>Rebate</th>
            <th>Tax</th>
            <th>Net</th>
        </tr>
        </thead>
        <tbody> {{#each item in proposal.billableItems}}
            <tr>
                <td>{{item.marketItem.product.name}}</td>
                <td>${{numberFormat item.federalIncentive}}</td>
                <td>${{numberFormat item.stateIncentive}}</td>
                <td>${{numberFormat item.utilityIncentive}}</td>
                <td>${{numberFormat item.rebatesIncentive}}</td>
                <td>${{numberFormat item.taxIncentive}}</td>
                <td>${{numberFormat item.netCost}}</td>
            </tr>
        {{/each}}
        <tr class="bg-primary">
            <td>Summary</td>
            <td>${{numberFormat proposal.federal}}</td>
            <td>${{numberFormat proposal.state}}</td>
            <td>${{numberFormat proposal.utility}}</td>
            <td>${{numberFormat proposal.rebates}}</td>
            <td>${{numberFormat proposal.tax}}</td>
            <td>${{numberFormat proposal.netPrice}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="row">
            <table class="table borderless">
                <thead>
                <tr class="bg-light-sliver">
                    <th colspan="2">Financing</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Project Cost:</td>
                    <td>${{numberFormat proposal.grossPrice}}</td>
                </tr>
                <tr>
                    <td>Downpayment:</td>
                    <td>${{numberFormat proposal.downPayment}}</td>
                </tr>
                <tr>
                    <td>Paydown Amount:</td>
                    <td>${{numberFormat proposal.totalIncentives}}</td>
                </tr>
                <tr>
                    <td>Amount Financed:</td>
                    <td>${{numberFormat proposal.netPriceFinanced}}</td>
                </tr>
                <tr>
                    <td>Monthly Finance Cost:</td>
                    <td>${{numberFormat proposal.netMonthlyRate}}</td>
                </tr>
                <tr>
                    <td>Monthly Savings:</td>
                    <td>${{numberFormat proposal.monthlySavings}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5">
      {{charts/barchart-savings proposal=proposal style="width: 100%; height: 300px;"}}
    </div>
</div>