<table id="{{ table-id }}" class="table table-striped table-bordered table-hover" width="100%">
    <thead>
    <tr>
        <th>
            <i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
            Proposal
        </th>
        <th data-hide="phone">
            Creation date
        </th>
		<th>
			Status
		</th>
		<th>
			Actions
		</th>
    </tr>
    </thead>
    <tbody>
    {{#each proposal in proposals}}
        <tr>
            <td>{{#link-to view-proposal proposal.id}}{{if proposal.name proposal.name proposal.id}}{{/link-to}}</td>
            <td>{{formatDate proposal.created}}</td>
			<td>{{if proposal.accepted 'Accepted' 'Considering'}}</td>
			<td>{{#link-to 'get-started.edit-proposal' proposal.id}}Edit{{/link-to}} | 
			<a href="#" {{action 'cloneProposal' proposal.id}}>Clone</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>
