<table class="table table-striped">
    <tbody>
    <tr>
        <td>Potential Owner</td>
        <td><a href="#" class="editable">{{ model.owner }}</a></td>
    </tr>
    <tr>
        <td>Stage</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Probability</td>
        <td><a href="#" class="editable">{{ model.probability }}</a></td>
    </tr>
    <tr>
        <td>Contract Amount</td>
        <td><a href="#" class="editable">{{ model.contractAmount }}</a></td>
    </tr>
    <tr>
        <td>Contract</td>
        <td><a href="#" class="editable">{{ model.contract }}</a></td>
    </tr>
    <tr>
        <td>Closing date</td>
        <td><a href="#" class="editable">{{ model.closingDate }}</a></td>
    </tr>
    <tr>
        <td>Generate PDF and send it</td>
        <td><button type="button" class="btn btn-primary">Generate</button></td>
    </tr>
    <tr>
        <td>Save to ZohoCRM</td>
        <td><button type="button" class="btn btn-danger">Save</button></td>
    </tr>
    </tbody>
</table>