<table class="table table-striped proposal-item-table">
    <tbody>
    <tr>
        <td>Potential Name</td>
        <td><a href="#" class="editable">{{ model.potentialName }}</a></td>
    </tr>
    <tr>
        <td>Potential Owner</td>
        <td><a href="#" class="editable">{{ model.owner }}</a></td>
    </tr>
    <tr>
        <td>Stage</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Probability</td>
        <td><a href="#" class="editable">{{ model.probability }}</a></td>
    </tr>
    <tr>
        <td>Contract Amount</td>
        <td><a href="#" class="editable">{{ model.contractAmount }}</a></td>
    </tr>
    <tr>
        <td>Contract</td>
        <td><a href="#" class="editable">{{ model.contract }}</a></td>
    </tr>
    <tr>
        <td>Closing date</td>
        <td><a href="#" class="editable">{{ model.closingDate }}</a></td>
    </tr>

    </tbody>
</table>

