<div class="form-group">
    <label>Address</label>
  {{input value=potential.address class="form-control"}}
</div>
<div class="form-group">
    <label>Utility</label>
  {{input value=potential.utility class="form-control"}}
</div>
<div class="form-group">
    <label>Rate Schedule</label>
  {{input value=potential.rateSchedule class="form-control"}}
</div>
<div class="form-group">
    <label>Average Bill</label>
  {{input value=potential.averageBill class="form-control"}}
</div>
<div class="form-group">
    <label>Annual Usage</label>
  {{input value=potential.annualUsage class="form-control"}}
</div>
