<div class="page-header">
    <h1>About</h1>
</div>


{{#if logo.name}}
  {{#if pdf.name}}
    <a href="{{pdf.url}}" target="_blank">
        <img src="{{logo.url}}" />
    </a>
  {{else}}
    <img src="{{logo.url}}" />
  {{/if}}
{{else}}
  No Logo uploaded.
{{/if}}
